@use "abstracts/variables";
%btn {
    background-color: variables.$primary-color;
    color: variables.$color-light;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color .3s;
    font-weight: 600;
}

.btn-darkened {
    @extend %btn;
    &:hover {
        background-color: variables.$darkened-color;
    }
    &.dark {
        background-color: variables.$color-light;
        color: variables.$primary-color;
    }
    &.dark:hover {
        background-color: variables.$lightened-color;
    }
}