@use "abstracts/variables";
%menu {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 25;
    padding: 0.5rem;
}

@mixin btn ($bg, $color) {
    background-color: $bg;
    color: $color;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color .3s;
    font-weight: 600;
}

.btn-darkened {
    @include btn(variables.$primary-color, variables.$color-light);
    &:hover {
        background-color: variables.$darkened-color;
    }
    &.dark {
        background-color: variables.$color-light;
        color: variables.$primary-color;
    }
    &.dark:hover {
        background-color: variables.$lightened-color;
    }
}

#btn-menu {
    display: none;
    @extend %menu;
}

#btn-close {
    display: none;
    @extend %menu;
}