    @use "abstracts/variables";
    %flex-layout {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    
    %lists-center {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    
     :root {
        color-scheme: light dark;
    }
    
    @media (prefers-color-scheme: dark) {
        body {
            background-color: variables.$primary-color;
            color: variables.$color-light;
        }
    }
    
    body {
        background-color: variables.$secondary-color;
        color: variables.$primary-color;
        font-weight: 600;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    body.dark {
        background-color: variables.$primary-color;
        color: variables.$color-light;
        footer {
            border-top: 1px solid rgba(255, 255, 255, 0.226);
        }
    }
    
    header {
        font-family: variables.$font-stack;
        @extend %flex-layout;
        width: 100%;
        span {
            position: absolute;
            top: 1;
            left: 0;
            font-size: 1.3rem;
            margin-left: 2rem;
            letter-spacing: 1px;
        }
    }
    
    // Nesting inom nav
    nav {
        gap: 5rem;
        ul {
            @extend %lists-center;
            gap: 1rem;
        }
        li {
            display: flex;
            &:hover {
                background-color: variables.$lightened-color;
                transition: .3s;
            }
        }
        a {
            display: flex;
            padding: 6px 10px;
            text-decoration: none;
            color: variables.$color-light;
            font-weight: 600;
            letter-spacing: 1px;
            border-radius: 8px;
        }
        a:active {
            background-color: variables.$darkened-color;
            color: variables.$color-light;
        }
    }
    
    .image-area {
        /*  @extend %flex-layout;*/
        display: grid;
        grid-template-columns: repeat(2, 450px);
        grid-template-rows: auto;
        gap: 2rem;
        margin-bottom: 5rem;
        width: 100%;
        height: auto;
        img {
            border-radius: 8px;
            box-shadow: 0 0 5px 2px black;
            border: 2px solid variables.$element-color;
            &:hover {
                transform: scale(1.02);
                border: 2px solid white;
                transition: .5s;
            }
        }
    }
    
    main {
        margin: 0 auto;
        flex: 1;
        max-width: 1240px;
        text-align: center;
        font-family: variables.$text-main;
        section {
            @extend %flex-layout;
            justify-content: flex-start;
            flex-direction: column;
        }
        .sass-section {
            width: 75ch;
            line-height: 1.5;
            text-align: left;
            box-shadow: 0 0 10px 5px rgb(0, 0, 0);
            padding: 1rem;
            margin-top: 2rem;
        }
        li {
            margin-bottom: 1rem;
        }
    }
    
    footer {
        @extend %flex-layout;
        font-family: variables.$text-fantasy;
        height: 60px;
        background-color: variables.$primary-color;
        color: white;
        width: 100%;
    }
    
    @media (max-width:950px) {
        .image-area {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }