@use "variables" as *; // Lagt till as * För att slippa skriva variables innan.
#icons {
    display: none;
}

#icons.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.icons {
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.thumbs-up {
    background: linear-gradient(270deg, $complement-color, $complement2-color, $element-color);
    animation: gradientShift 4s ease infinite;
    background-size: 500% 500%;
    &:hover {
        fill: $complement-color;
        transform: translateY(-10px);
    }
    &:active {
        box-shadow: 0px 0px 5px 5px $light-color;
    }
}

.thumbs-down {
    background: linear-gradient(270deg, $icons-red, $element-color);
    animation: gradientShift 4s ease infinite;
    background-size: 500% 500%;
    &:hover {
        fill: $icons-red;
        transform: translateY(10px);
    }
    &:active {
        box-shadow: 0px 0px 5px 5px $dark-color;
    }
}

.loading-spin {
    height: 35px;
    width: 35px;
    background: conic-gradient($dark-color, $light-color);
    border-radius: 50%;
    animation: spinAnimation 2s linear infinite, gradientShift 3s linear infinite;
}

.images-animations {
    display: none;
}

.images-animations.show {
    display: block;
}

#skule-pic.unshow {
    display: none;
}

#girona-pic.unshow {
    display: none;
}

.btn-moving {
    position: absolute;
    animation: moveAround 7s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
}

.bee {
    position: absolute;
    width: 60px;
    height: 65px;
    pointer-events: none;
    animation: flyingBee 40s linear infinite;
}

@keyframes flyingBee {
    0% {
        right: -10%;
        top: 90%;
        transform: rotate(10deg);
    }
    50% {
        right: 60%;
        top: 45%;
        transform: rotate(-15deg);
    }
    100% {
        right: 300%;
        top: 0%;
        transform: rotate(20deg);
    }
}

@keyframes moveAround {
    0% {
        right: 15%;
        top: 30%;
    }
    50% {
        right: 60%;
        top: 20%;
    }
    75% {
        right: 15%;
        top: 25%;
    }
    100% {
        right: 15%;
        top: 30%;
    }
}

@keyframes spinAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width:768px) {
    @keyframes moveAround {
        0% {
            right: 18%;
            top: 20%;
        }
        50% {
            right: 23%;
            top: 50%;
        }
        100% {
            right: 18%;
            top: 20%;
        }
    }
    @keyframes flyingBee {
        0% {
            right: -10%;
            top: 40%;
            transform: rotate(10deg);
        }
        50% {
            right: 60%;
            top: 20%;
            transform: rotate(-15deg);
        }
        100% {
            right: 110%;
            top: 0%;
            transform: rotate(20deg);
        }
    }
}