@keyframes flyingBee {
    0% {
        right: -10%;
        top: 90%;
        transform: rotate(10deg);
    }
    50% {
        right: 60%;
        top: 45%;
        transform: rotate(-15deg);
    }
    100% {
        right: 300%;
        top: 0%;
        transform: rotate(20deg);
    }
}

@keyframes moveAround {
    0% {
        right: 15%;
        top: 30%;
    }
    50% {
        right: 60%;
        top: 20%;
    }
    75% {
        right: 15%;
        top: 25%;
    }
    100% {
        right: 15%;
        top: 30%;
    }
}

@keyframes spinAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width:768px) {
    @keyframes moveAround {
        0% {
            right: 18%;
            top: 20%;
        }
        50% {
            right: 23%;
            top: 50%;
        }
        100% {
            right: 18%;
            top: 20%;
        }
    }
    @keyframes flyingBee {
        0% {
            right: -10%;
            top: 40%;
            transform: rotate(10deg);
        }
        50% {
            right: 60%;
            top: 20%;
            transform: rotate(-15deg);
        }
        100% {
            right: 110%;
            top: 0%;
            transform: rotate(20deg);
        }
    }
}