@use "../abstracts/variables" as *; // Lagt till as * För att slippa skriva variables innan.
@use "../abstracts/animations" as *; // Lagt till as * För att slippa skriva variables innan.
%menu {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 25;
    height: 50px;
    padding: 4px 8px;
}

@media (prefers-color-scheme: dark) {
    .btn-darkened {
        background-color: $light-color;
    }
    #btn-menu {
        span {
            color: $light-color !important;
        }
        svg path {
            fill: $light-color;
        }
    }
}

#btn-menu.dark {
    span {
        color: $light-color;
    }
    svg path {
        fill: $light-color;
    }
}

#nav-menu .current-page {
    background-color: $icons-red;
    box-shadow: 0 0 10px 1px black inset;
}

.unshow {
    display: none;
}

.show {
    display: block;
}

.loading-spin {
    display: none;
}

.loading-spin.show {
    display: block;
}

#btn-restart {
    display: none;
}

#btn-restart.show {
    display: block;
    margin: 2rem 0 1rem;
}

.btn-moving {
    position: absolute;
    animation: moveAround 7s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
}

.bee {
    position: absolute;
    width: 60px;
    height: 65px;
    pointer-events: none;
    animation: flyingBee 40s linear infinite;
}

#icons {
    display: none;
}

#icons.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.icons {
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.thumbs-up {
    background: linear-gradient(270deg, $complement-color, $complement2-color, $element-color);
    animation: gradientShift 4s ease infinite;
    background-size: 500% 500%;
    &:hover {
        fill: $complement-color;
    }
    &:active {
        box-shadow: 0px 0px 5px 5px $light-color;
        transform: translateY(-10px);
    }
}

.thumbs-down {
    background: linear-gradient(270deg, $icons-red, $element-color);
    animation: gradientShift 4s ease infinite;
    background-size: 500% 500%;
    &:hover {
        fill: $icons-red;
    }
    &:active {
        box-shadow: 0px 0px 5px 5px $dark-color;
        transform: translateY(10px);
    }
}

.loading-spin {
    height: 35px;
    width: 35px;
    background: conic-gradient($dark-color, $light-color);
    border-radius: 50%;
    animation: spinAnimation 2s linear infinite, gradientShift 3s linear infinite;
}

#btn-close.dark {
    span {
        color: $light-color;
    }
    svg path {
        fill: $light-color;
    }
}

#btn-close {
    display: none;
    @extend %menu;
    span {
        color: $light-color;
    }
}

@media (max-width:950px) {
    #nav-menu .current-page {
        color: $light-color;
    }
}

@media (max-width:505px) {
    #btn-menu {
        display: flex !important;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0.5rem;
        margin-left: auto;
        z-index: 10;
        transition: 0.4s ease-out;
    }
    #btn-menu.close {
        display: none;
        position: relative;
    }
    #btn-close {
        position: absolute;
        display: none;
        margin-left: auto;
    }
    #btn-close.show {
        display: flex;
        top: 0;
        right: 0;
    }
}